<div class="wrapper">
  <h1 class="text-light">Страница не найдена</h1>
  <div class="terminalWrap">
      <div class="terminal">
          <p>Терминал</p>
          <br>
          <div class="c1 text-light">$ system get-status --url -X "GET" @www.fefucybersec.ru</div>
          <br>
          <div class="c2">Производится процесс отправки пакетов...</div><!-- Cheesy error page initialized -->
          <div class="c3">Журнал: запуск ssh-туннеля для 127.0.0.1</div>
          <div class="c4">Журнал: начата проверка резервных DNS-адресов... подключение прокси...</div>
          <div class="c5">Пакетов отправлено: 100% (6/6), 954.76 Кб/с, завершено.</div>
          <div class="c6">Пакетов получено: 0% (0/6), завершено.</div>
          <div class="c7">Потеря пакетов: 100% (6/6), критическое завершение процесса...</div>
          <br>
          <div class="c8 text-light">$ system --help --dump-callback --human</div>
          <br>
          <div class="c9"> Система предлагает вернуться назад. Нажмите: <a (click)="location('/')" routeLink="active" href="#">Назад</a></div>
      </div>
  </div>
</div>
<div class="overlay"></div>