<div class="wrapper fadeInDown">
    <div id="formContent">
        <div id="formFooter">
            GO TO BROBLOGO
          </div>
      <!-- Tabs Titles -->
      <h2 class="active"> Sign In </h2>
  
      <!-- Login Form -->
      <form (submit)="authorize()" method="POST" ngForm #AuthForm ngNativeValidate>
        <input type="text"  class="fadeIn second" name="us" autocomplete="nope" required [(ngModel)]="authForm.username" placeholder="username">
        <input type="password" class="fadeIn third" name="pw" autocomplete="nope" required [(ngModel)]="authForm.password" placeholder="password">
        <input type="submit" class="fadeIn fourth" style="cursor: pointer" value="Continue">
      </form>
      
    </div>
  </div>